@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

.c-header,
.c-notice-head {
  display: flex;
  align-items: center;
}
.c-header {
  padding-top: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
  padding-bottom: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
}
.c-notice-head {
  border-bottom: solid 1px var(--c-border-divider);
}

.c-menu-bars {
  position: relative;
  width: calc(100% - setting.f-space-px(m));
  height: 1px;
  background: var(--c-text-description);
  transition: all ease-out 0.3s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: var(--c-text-description);
    transition: all ease-out 0.3s;
  }

  &::before {
    top: -9px;
  }

  &::after {
    top: 9px;
  }

  .is-open & {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.c-nav-link {
  letter-spacing: setting.f-letterspacing(m);
  line-height: setting.f-lineheight(l);
  font-size: setting.f-font-remsize(m);
  color: currentColor;
  transition: all 0.25s ease;

  &:hover,
  &:focus {
    color: var(--c-text-hover);
  }
  &--sp {
    display: block;
    padding: setting.f-space-px(s) setting.f-space-px(m);
  }
  &--bottom {
    color: var(--c-text-description);
    font-size: setting.f-font-remsize(s);
    &:hover,
    &:focus {
      color: color-mix(in oklab, var(--c-text-description), map.get(setting.$sys-light, onContainer) 15%);
    }
  }
}

.c-sidebar {
  position: fixed;
  top: 0;
  right: -240px;
  z-index: 999;
  width: 100%;
  max-width: 240px;
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
  transition: right 0.1s ease-out;
  visibility: hidden;
  opacity: 0;

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m)) clamp(setting.f-space-px(m), setting.breakpoints(overs), setting.f-space-px(xl));
  }

  &--is-open {
    visibility: visible;
    opacity: 1;
    right: 0;
    pointer-events: auto;
    transition: right 0.1s ease-out;
  }
}

.c-gnav {
  &-item {
    &:first-of-type {
      border-top: solid 1px var(--c-border-divider);
    }

    border-bottom: solid 1px var(--c-border-divider);
  }
}

.c-sidebar-bg,
.c-notice-bg {
  position: fixed;
  inset: 0;
  z-index: 998;
  display: none;
  pointer-events: none;
  cursor: pointer;
  visibility: hidden;
  background: rgba(map.get(setting.$sys-light, scrim), 0.5);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
.c-sidebar-bg {
  .c-sidebar--is-open + & {
    display: block;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-out;
  }
}
.c-notice-bg {
  .c-notice-box--is-open + & {
    display: block;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-out;
  }
}

body.is-fixed {
  overflow: hidden;
}
.c-notice-box {
  border-radius: setting.f-border-radius(m);
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100vw - 2 * setting.f-space-px(m));
  height: max-content;
  max-width: 40em;
  max-height: calc(100svh - 2 * setting.f-space-px(m));
  overflow: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease-out;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  &--is-open {
    visibility: visible;
    opacity: 1;
    right: 0;
    pointer-events: auto;
    transition: all 0.1s ease-out;
  }
}

.o-icon-parent {
  &--header-logo,
  &--footer-logo {
    gap: setting.f-space-px(s);
    color: currentColor;
    transition: all 0.25s ease;

    &:hover,
    &:focus {
      color: var(--c-text-hover);
    }
  }
  &--header-logo {
    .o-icon {
      font-size: clamp(map.get(setting.$fontRemSize, 3xl), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, 4xl));
    }
  }
  &--footer-logo {
    .o-icon {
      font-size: clamp(map.get(setting.$fontRemSize, xl), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, 2xl));
    }
  }
}
.c-logo-label {
  &--header {
    font-size: clamp(map.get(setting.$fontRemSize, 2xl), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, 3xl));
  }
  &--footer {
    font-size: clamp(map.get(setting.$fontRemSize, l), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, xl));
  }
}
