@use "../settings" as setting;
@use "sass:map";

.c-content-l,
.c-content-m,
.c-label-l,
.c-label-m,
.c-entry p,
.c-card-link {
  letter-spacing: setting.f-letterspacing(m);
}

.c-content-l,
.c-content-m,
.c-suppl-l,
.c-suppl-m,
.c-entry p,
.c-card-link {
  font-weight: setting.f-fontweight(r);
  line-height: setting.f-lineheight(l);
}

.c-content-l,
.c-entry p,
.c-card-link {
  font-size: setting.f-font-remsize(m);
}

.c-content-m,
.c-label-l {
  font-size: setting.f-font-remsize(s);
}

.c-label-l,
.c-label-m {
  font-weight: setting.f-fontweight(m);
}

.c-label-m {
  font-size: setting.f-font-remsize(xs);
}

.c-suppl-l,
.c-suppl-m {
  letter-spacing: setting.f-letterspacing(s);
}

.c-suppl-l {
  font-size: setting.f-font-remsize(xs);
}

.c-suppl-m {
  font-size: setting.f-font-remsize(2xs);
}

.c-notes {
  padding-left: calc(setting.f-space-em(s) + setting.f-space-em(xs));
  text-indent: calc(-1 * (setting.f-space-em(s) + setting.f-space-em(xs)));

  &::before {
    margin-right: setting.f-space-em(xs);
    content: "*";
  }
}

.c-number-text {
  font-family: setting.$font-family-en;
}

.c-number-text-variant {
  font-family: setting.$font-family-en-condensed;
}

.c-entry a,
.c-text-link {
  transition: all 0.25s ease;
  &:visited {
    color: var(--c-text-visited);
  }
  &:hover,
  &:focus {
    color: var(--c-text-hover);
  }
}
.c-entry a,
.c-text-link--underline {
  color: var(--c-text-link);
}
.c-entry a,
.c-text-link--underline {
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.c-text-link {
  &--full-wide {
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
.c-link-hover {
  transition: all 0.25s ease;
  &:hover,
  &:focus {
    color: var(--c-text-hover);
  }
}
.c-link-card {
  transition: all 0.25s ease;
  border-color: var(--c-border-divider);
  height: 100%;

  &:hover,
  &:focus {
    border-color: color-mix(in oklab, var(--c-button-normal), map.get(setting.$sys-light, onContainer) 15%);
  }

  &:focus {
    outline-style: solid;
    outline-color: var(--c-button-normal);
  }
}

.c-share-parent {
  position: relative;

  .o-icon {
    position: absolute;
    top: 50%;
    left: setting.f-space-em(m);
    transform: translateY(-50%);
  }
}

.c-author-name {
  display: table;
  width: min(setting.breakpoints(overs), 100%);
  min-width: max-content;
}

.c-front-box {
  border-color: var(--c-button-primary);
  padding: clamp(
    clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
    setting.breakpoints(overs),
    clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
  );
}

.c-lp-pagespeed {
  position: fixed;
  width: 100%;
  bottom: -80px;
  padding: setting.f-space-px(m) clamp(
    clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
    setting.breakpoints(overs),
    clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
  );

  background: rgba(map.get(setting.$sys-light, scrim), 0.5);
  z-index: 9999;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;

  &--is-view {
    bottom: 0;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__btn {
    position: absolute;
    top: -20px;
    right: setting.f-space-px(s);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--c-bg-secondary);
    border-color: var(--c-bg-secondary);
    transition: all 0.25s ease;
    color: var(--c-text-description);

    &:hover,
    &:focus {
      background-color: color-mix(in oklab, var(--c-bg-secondary), map.get(setting.$sys-light, onContainer) 15%);
      border-color: color-mix(in oklab, var(--c-bg-secondary), map.get(setting.$sys-light, onContainer) 15%);
    }

  }
}
