@use "../settings" as setting;

@mixin spacer() {
  @each $key, $name in setting.$spacePx {
      .u-mt-#{$key} {
        margin-top: $name;
      }

  }

  @each $key, $name in setting.$spacePx {
      .u-mb-#{$key} {
        margin-bottom: $name;
      }

  }

  @each $key, $name in setting.$spacePx {
      .u-ml-#{$key} {
        margin-left: $name;
      }
  }

  @each $key, $name in setting.$spacePx {
      .u-mr-#{$key} {
        margin-right: $name;
      }
  }

  @each $key, $name in setting.$spacePx {
      .u-pt-#{$key} {
        padding-top: $name;
      }
  }

  @each $key, $name in setting.$spacePx {
      .u-pb-#{$key} {
        padding-bottom: $name;
      }
  }

  @each $key, $name in setting.$spacePx {
      .u-pl-#{$key} {
        padding-left: $name;
      }
  }

  @each $key, $name in setting.$spacePx {
      .u-pr-#{$key} {
        padding-right: $name;
      }
  }
}

@include spacer;
