@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

@mixin txtWeight() {
  @each $key, $name in setting.$fontWeight {
    .u-txt-weight-#{$key} {
        font-weight: $name;
    }
  }
}

@include txtWeight;

.u-lineheight-none {
  line-height: setting.f-lineheight(none);
}

.u-logo-num-font {
  font-family: setting.$font-family-futura;
}

.u-font-en {
  font-family: setting.$font-family-en;
}

.u-font-en-con {
  font-family: setting.$font-family-en-condensed;
}

.u-text-primary {
  color: var(--c-button-normal);
}

.u-text-secondary {
  color: var(--c-text-description);
}

.u-txt-brand {
  color: var(--c-brand-middle);
  &--tint {
    color: var(--c-brand-tint);
  }
  &--shade {
    color: var(--c-brand-shade);
  }
}

.u-txt-accent {
  color: var(--c-status-alert);
}

.u-txt-alert {
  color: var(--c-warning);
}

.u-txt-center {
  text-align: center;
}

.u-pc-txt-center {
  @include tool.min-screen(setting.$breakm) {
    text-align: center;
  }
}

.u-txt-right {
  text-align: right;
}

.u-txt-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.u-text-underline {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  text-decoration-color: rgba(map.get(setting.$pattern, myYellow),0.4);
  text-underline-offset: -0.2em;
  text-decoration-skip-ink: none;
  @include tool.darkmode {
    text-decoration-color: rgb(map.get(setting.$darkPattern, myYellow),0.4);
  }
}

.u-text-trim {
  display: -webkit-box;

  --trim: 1;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--trim);
  overflow: hidden;

  &--two-line {
    --trim: 2;
  }

  &--three-line {
    --trim: 3;
  }
}
