@use "../settings" as setting;

.u-wrapper {
  max-width: setting.f-width(wrapper);
}

.u-content-wrap {
  max-width: setting.f-width(content);
}

.u-max-content {
  max-width: max-content;
}

.u-full-width {
  width: 100%;
}
